<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
<span th:insert="~{header::language}"></span>
<span th:insert="~{header::catalog}"></span>
<span th:insert="~{header::registration}"></span>
<br>
<br>
<br>
<table class="table table-sm table-light table-bordered" style="width: 500px;">
    <td align="center">
        <form th:action="@{/login}" th:method="post">
            <label for="username">
                <span th:text="#{login}">Login: </span>
                <input id="username" type="text" name="username">
            </label>
            <br>
            <label for="password">
                <span th:text="#{password}">Password: </span>
                <input id="password" type="password" name="password">
            </label>
            <br>
            <input type="submit" th:value="#{login.submit}">
        </form>
    </td>
</table>
</body>
</html>